*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

/fonts
/images/facebook-3-32.png
/images/facebook-3-64.png
/images/instagram-32.png
/images/instagram-64.png
/images/linkedin-3-32.png
/images/linkedin-3-64.png
/images/twitter-32.png
/images/twitter-64.png

/wp_bootstrap-navwalker.php